$text-primary: #FFFFFF;
$text-secondary: #757575;

$font-size-xs: 0.694rem;
$font-size-sm: 0.833rem;
$font-size-md: 1rem;

$color-primary: #FF8383;
$color-secondary: #E7007C;

$font-family-primary: "Roboto";
$font-family-secondary: "Montserrat";
